<mat-vertical-stepper>
  <mat-step label="1916">
    <p>A edição de 1916 não pode ser realizada devido ao pronlogamento da Primeira Guerra Mundial. </p>
  </mat-step>
  <mat-step label="1940 - 1944">
    <p>Seguindo o mesmo motivo que o ano de 1916, os demais anos não foram realizados devido ao início e agravamento da Segunda Guerra Mundial
    </p>
  </mat-step>
  <mat-step label="2020">
    <p>Diferente dos anos anteriores, o mundo foi surpreendido com a Pandemia do novo
      Corona Vírus. <br>Com sua alta taxa de infecção e mortalidade, o comitê das
      Olimpíadas decidiu cancelar a edição daquele ano. Adiando o evento para o ano seguinte.
    </p>
  </mat-step>
</mat-vertical-stepper>
